html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'sans-serif';
    background-color: rgb(237, 237, 237);
    color: rgb(39, 40, 41);

}

.body{
    margin-left: 40px;
}

nav {
    margin:0;
    display: flex;
    justify-content: space-between;
    font-weight:500;
    position: fixed;
    width: 100%;
    align-items: center;
    padding-top: 11px;
    padding-bottom: 11px;  
    background-color: rgb(237, 237, 237);
    
}

.icons{
    margin-left: 40px;
}


.icons li a img{
    width: 15px;
    margin: 0;
    color: rgb(39, 40, 41);
}

.links{
    margin-right: 40px;
}

.links li a{
    text-decoration: none;
    color:rgb(39, 40, 41);
}

.links li{
    font-size: 12px;
   text-decoration: underline 2px;
   text-decoration-color: rgba(0, 0, 0, 0);
   text-underline-offset: 1px; 
   transition: text-decoration-color 0.5s, text-underline-offset 0.5s;
}

.links li:hover{   
    text-decoration-color: rgb(0, 0, 0);
    text-underline-offset: 6px;     
 }

nav ul{
    
    list-style: none;
    display: flex;
    gap: 1.5rem;
    padding:0;
    margin: 0;
      
}

/*
@keyframes fadeInDown {
    from {
        transform: translate3d(0,-40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInDown {
    from {
        transform: translate3d(0,-40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animate {
    animation-delay: 1s;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
    
}

.animatedFadeInDown {
    opacity: 0
}

.fadeInDown {
    opacity: 0;
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
}
    */

.intro{
   
    padding-top: 12rem; 
    text-align: left;
    
}


.intro div{
    
}

.intro-buttons{
    
    display: flex;
    gap: 10px;
    margin-top: 20px;
    
    
}

.intro div button{
    padding: 0;
    margin: 0;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 20px;
}


.header{
   
    font-size:150px;
    margin: 0; 
    font-weight: bold;
    
}

.sub-header{
    font-size: 24px;
    font-weight:500;

}

.projects{
    margin-top: 50px;
}

.projects-title{
    margin-bottom: 40px;
}

.projects-gallery{
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;

}

.projects-gallery div img{
    width: 400px;
    border-radius: 5px;
}

/*
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
*/








.contact{
    margin-bottom: 15rem;
}

.contact .title{
    font-size: 8rem;
    text-align: center;
    margin: 0;
    margin-bottom: 80px;
    font-weight:500;
}

.contact .contacts{
    display: flex;
   justify-content: center;
   gap: 3rem;
   text-align: center;
   font-size: 1.5rem;
   font-weight: 500;
}

.contact .contacts p{
    margin: 0;
}

.contact .contacts p a{
    text-decoration: none;
    color: black;

}

.contact .contacts p {
    text-decoration: underline 2px;
    text-decoration-color: rgba(0, 0, 0, 0);
    text-underline-offset: 1px; 
    transition: text-decoration-color 0.5s, text-underline-offset 0.5s;
 }

 .contact .contacts p:hover{
    text-decoration-color: rgb(0, 0, 0);
    text-underline-offset: 6px; 
    
 }

 /*

@media (max-width: 1360px){
    .projects #projecttwo{
        margin-top: 0;
    }

    .projects #projectthree {
        margin-top: 0;

    }

    .projects #projecttwo{
        margin-bottom: 150px;
    }

}


@media (max-width: 1100px){
    .intro div{
        display: flex;
        flex-direction: column;
        align-items: center;  
        margin: 0 10px;
        padding: 0;   
        
    }

    .intro h1{
        text-align: center;     
    }

    .intro h2{
        margin-left: 0;
    }

    .about p{
        margin: 0 0.5rem 0 2rem;
    }

    .about .grad {
        margin-right: 2rem;
    }

    .links{
        padding-right:40px;
    }

    .icons{
        padding-left: 40px;
    }

    .projects #projecttwo{
        margin-bottom: 150px;
    }

}

@media (max-width: 800px){
    .about p{
        font-size: 30px;
    }

    .contact{
        margin-bottom: 120px;
    }

    .contact .title{
        font-size: 70px;
    }

    .contact .contacts{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
    }

    .projects #projectone {
        width: 500px;
        height: 480px;
        margin-bottom: 180px;
       
    }

    .projects #projectone .info{
        margin: 0;
        
        margin-top: -50px;
     }


    #projectone .image {
        height: 480px;  
        margin: 0;       
    }


    #projectone .image img{
        width: 500px;   
    }

    .projects #projecttwo{
        margin-bottom: 200px;
    }

    .projects {
        display: flex;      
    }

}


@media (max-width: 550px){

    nav{
        font-size: 13px;
    }

    .icons img{
        width: 20px;
    }


    .intro h1{
        font-size: 120px;
    }

    .intro img {
        height: 300px;

    }



    .about div{
        margin-bottom: 400px;
    }

    .about .current{
        margin-bottom: 250px;

    }
    
    .about{
        font-size: 30px;
        
    }
 
    .about .grad{
        
        display: flex;
        flex-direction: column;
        align-items:start; 
    
    }
    
    .about .grad p{
        text-align: left;
        
    }



    .projects{
        margin-top: 400px;
        padding-top: 6rem;
       
    }


    .projects #projectone, .projects #projecttwo{
        width: 400px;
        height: 450px;    
        margin: 0;
        margin-bottom: 50px;
    }


    #projectone .image img{
        height: 350px;  
        
    }

    .projects #projectone .image{
       height: 350px;
       margin: 0;
    }

    .projects #projectone .info{
        margin: 0;
     }

    .projects #projecttwo{
        margin-bottom: 100px;
    }

     .projects #projecttwo .image{
        height: 400px;
        margin: 0;
     }

     #projecttwo .image img{
        width: 400px; 
    }

    .projects #projectfour{
        margin-top: -5px;
    }

    .projects{
        display: flex;
        gap: 80px;
    }
    
}
