body {
    margin: 0;
    font-family: 'Inter', 'sans-serif';
    
    color: rgb(39, 40, 41);

}

nav {
    margin:0px;
    font-size: 14px;
    font-weight: 400;
    border-bottom: black solid 1px;
    display: flex;
    justify-content: space-between;
    font-weight:600;
    padding: 0.4rem;
    position: fixed;
    width: 100%;
    align-items: center;
    
}


.icons img{
    width: 30px;
    margin: 0;
    margin-right: -10px;
}

.links{
    margin-right: 2rem;
}

.links li:hover{
   text-decoration: underline 2px;
   text-underline-offset: 6px;
}

nav ul{
    
    list-style: none;
    display: flex;
    gap: 2rem;
    
}

nav ul li{
    
    padding:0;
    margin: 0;
    
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12rem;
}

.intro h1{

    font-size:160px;
    margin: 0; 
    font-weight: bold;
}

.intro h2{
    font-size: 24px;
    margin: 0;
    margin-left: -2rem;
    font-weight: normal;
    }

.intro h3{
font-size: 18px;
margin: 0;

}

.intro img{ 
    height: 400px;
    margin: 0;
    margin-top: 2rem;
}

.about{
  margin-top: 25rem;
  font-size: 3rem;
}

.about p{
    margin: 0;
    margin-left: 8rem;
  
    
}

.about .aboutme p{
    width: 55rem;
}

.about .header{
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 0.7rem;
}

.about div{
    margin-bottom: 30rem;

}

.about .grad{
    
    display: flex;
    flex-direction: column;
    
    align-items:end;
    margin-right: 8rem;
    

}

.about .grad p{
    text-align: right;
    
    width: 62rem;
}

.about .current{
    margin-top: -3rem;
}

.about .current p{
    
    width: 60rem;

}

.projects{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 3rem;
 margin-bottom: 20rem;
}

.projects .project{
    
    width: 500px;
    height: 500px;
    margin: 3rem;
    
    
}

.projects .project .info div{
    display: flex;
    justify-content: space-between;
    
    
    
}

.projects .project .image{
    width: 100%;
    height: 400px;
    background-color: rgb(244, 244, 244);

}

.projects .project .stack{
    margin: 0.7rem 0;

}

.projects .project .title{
    font-size: 2em;
    margin: 0;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.projects .project span{

    padding-top: 5px;

    font-size: 30px;

    

}

.projects .project .button{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px 40px;
    font-size: 0.8rem;
    font-weight: bold;
    display: none;

}

.projects #projectone{
    width: 600px;
    height: 600px;

}

.projects #projectone .image{
    height: 500px;
}


.projects #projecttwo{
    margin-top: 400px;

}

.projects #projectthree{
    margin-top: -250px;
    width: 400px;

}

#projectthree img{
    width: 450px;
}
.contact{
    margin-bottom: 15rem;
}

.contact .title{
    font-size: 8rem;
    text-align: center;
    margin: 0;
    margin-bottom: 80px;
}

.contact .contacts{
    display: flex;
   justify-content: center;
   gap: 3rem;
   text-align: center;
   font-size: 2rem;
}

.contact .contacts p{

    margin: 0;
}